
@media (min-width: 1199px) {
    .plits .plit-block .image-holder {
        height: 222px;
    }
    .slider-lg-main .image-holder {
        max-height: 261px;
    }
}



@media (max-width: 1199px) {
	#top-navbar .nav.navbar-nav.left {
		margin-left: -13px;
	}
	#top-navbar .nav.navbar-nav.navbar-right {
		margin-right: 38px;
	}
	#top-navbar .navbar-default .navbar-nav>li.type-4 {
	    padding-left: 16px;
	}
	#navbar-secondary .nav.navbar-nav.navbar-right {
		margin-right: 0px;
	}
	#navbar-secondary .nav.navbar-nav.left {
		letter-spacing: 0.4px;
	    margin-left: -10px;
	}
}
@media (min-width: 991px) {
    .modal-lg {
        width: 1140px;
    }
    .bt-slider {
        background-color: #e6e7e8;
    }
    .bt-slider .bx-viewport {
        background-color: #E6E7E8;
    }
    .mobile-find-button {
        display: none;
    }
    .mobile-navbar-open-btn {
        display: none;
    }
   #top-navbar .main-logo {
        margin-top: 11px;
    }
}
@media (max-width: 991px) {
    .navbar {
        min-height: 66px;
    }
    .container  {
        width: 600px;
    }
    .navbar-toggle.collapsed  {
        display: none;
    }
    .modal-lg {
        width: 960px;
    }
    #navbar-secondary {
        display: none;
    }
    .main-logo img {
        width: 100px;
    }
    #top-navbar .navbar-default .navbar-nav>li>a {
        font-size: 15px;
    }
    #top-navbar .navbar-default .navbar-nav>li>a img {
        margin-right: 5px;
    }
    #top-navbar .nav.navbar-nav.navbar-right {
        margin-right: 34px;
    }
    #top-navbar .navbar-default .navbar-nav>li.type-7 {
        margin-right: 5px;
    }
    #top-navbar .navbar-default .navbar-nav li.type-1 {
        margin-right: 6px;
        margin-left: 6px;
    }
    #top-navbar .navbar-default .navbar-nav>li>a {
        font-size: 12px;
    }
    .material-block {
        width: 49%;
        display: inline-block;
    }
    .slide-content {
        text-align: center;
    }
    .slider8 .slide-content .price-row {
        position: relative;
        display: inline-block;
    }
    .side-bar {
        margin-bottom: 50px;
    }
    .top-serch.open {
        top: 66px;
    }
}
@media (max-width: 700px) {
    .container  {
        width: 303px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .xs-hidden {
        display: none;
    }
    .xs-show {
        display: inline-block;
    }
    .pub-slider-blcok #carousel {
        width: 212px;
    }
    .mobile-publication h1 {
        font-size: 34px;
    }
    .mobile-publication .date-holder .left-part {
        width: 69%;
    }
    .mobile-publication .date-holder .left-part span.type-1 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .comments-blcok .type-filters {
        text-align: center;
    }
    .share-status-block {
        width: 245px;
        padding-left: 16px;
    }
    .footer {
        padding: 39px 0px;
    } 
    .breadcrumb li:nth-child(1n+3) {
        display: none;
    }
    .bt-slider .bx-wrapper .bx-prev {
        left: -26px;
    }
    .bt-slider .bx-wrapper .bx-next {
        right: -21px;
    }
    .bt-slider .bx-wrapper .bx-controls-direction a {
        width: 22px;
    }
    .top-serch .form-group button {
        width: 58px;
    }
    .top-serch .form-group {
        padding-right: 64px;
    } 
    #top-navbar .main-logo {
        margin-top: 0;
    }
}








/*NK*/
@media (min-width: 1001px) {
    .footer-holder {
        display: inline-block;
    }
}
@media (max-width: 991px) {
    .data-holder ul {
        text-align: left;
    }
    .data-holder ul > li:last-child {
        padding-left: 0;
        background-image: none;
    }
    .footer .data-holder .copyright,
    .footer .data-holder .autograph {
        width: 100%;
        float: none;
        text-align: left;
    }
}
@media (max-width: 710px) {
    .logo-left-holder,
    .logo-right-holder {
        vertical-align: top;
    }
    .data-holder {
        top: -7px;
    }
    .data-holder ul > li {
        padding-left: 0;
        padding-right: 30px;
        background-image: none; 
    }
    .data-holder ul > li:first-child {
        padding-right: 43px;
        background-image: url('../img/png/delimiter-mobile.png');
        background-repeat: no-repeat;
        background-position: right center;
    }
    .footer .data-holder .copyright,
    .footer .data-holder .autograph {
        float: left;
        text-align: left;
    }
}
@media (max-width: 595px) {
    .data-holder ul {
        text-align: left;
    }
    .data-holder ul > li,
    .data-holder ul > li:first-child {
        background-image: none;
        padding-left: 0;
    }
    .footer .data-holder .copyright,
    .footer .data-holder .autograph {
        float: left;
        text-align: left;
    }
}
@media (max-width: 482px) {
    .logo-left-holder {
        display: none;
    }
}
/*@media (max-width: 320px)*/
@media (max-width: 380px) {
    .logo-left-holder,
    .data-holder {
        display: none;
    }
    .footer-holder {
        width: 100%;
        text-align: center;
    }
}